$primary-color: hsl(322, 100%, 66%);
$pale-cyan: hsl(193, 100%, 96%);
$dark-cyan:  hsl(192, 100%, 9%);
$grayish-blue:  hsl(208, 11%, 55%);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
$open-sans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;

.logo-arriba{
    height: 18px;
}
.logo-bttn{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
html,body{
    margin: 0;
    padding: 0;
}
body{
  font-size: 18px;
  background-image: url("/images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-color: $pale-cyan;
}

.btn-Try-It{
    border-radius:21px;
    display: flex;
    background-color: #fff;
    justify-content: center;
    width: 110px;
    height: 27px;
    box-shadow: 3px 3px 15px 2px rgba(0,0,0,0.2);
    
    
}
.btn-Try-It-text{
    font-weight:600;
    font-size: 13px;
    font-family: $poppins;
    align-self: center;
    color: $dark-cyan;
}



.introduction{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.introductiondiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introduction__title{
    padding-top: 40px;
    color: $dark-cyan;
    text-align: center;
    font-family: $open-sans;
}

.introduction__paragraph{
    color: $dark-cyan;
    text-align: center;
    font-family: $open-sans;
    font-weight: 400;
    padding-right: 15px;
    padding-left:15px;
}
.introduction__button_container{
    display:flex;
    justify-content: center;
}
.introduction__button{
    display:flex;
    justify-content: center;
    justify-self: center;
    border-radius: 24px;
    color: $pale-cyan; 
    font-weight: 600;
    font-size: 10px;
    font-family: $poppins;
    background-color: $primary-color;
    align-items: center;
    padding: 16px 20px;
}

.introduction__button:hover{
    filter: brightness(150%);
    cursor: pointer;
}

.introduction-img{
    margin-top: 45px;
    height: 210px;
    margin-bottom: 20px;
}

.ending__button{
    display: flex;
    justify-content: center;
    border-radius:24px;
    width: 260px;
    height: 40px;
    background-color:$primary-color;
}

.ending__button:hover{
    filter: brightness(150%);
    cursor: pointer;
}

.advantages{
display: flex;
flex-direction: column;
align-items: center;
background-color: #fff;
height: 1890px;
font-family: $open-sans;
}

.card{
    display: flex;
    box-shadow: 3px 3px 15px 2px rgba(0,0,0,0.2);
    border-radius: 24px;
    flex-direction: column;
    align-items: center;
    width: 319px;
    margin-top: 55px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-img{
    margin-top: 55px;
    margin-bottom: 65px;
    height: 190px;
    width: 250px;
}
.card-title{
    color: $dark-cyan;
    text-align: center;
    font-family: $poppins;
    font-weight:700;
}
.card-text{
    color:$grayish-blue;
    text-align: center;
    font-family: $open-sans;
    font-weight: 400;
    font-size:14px;
    margin-bottom: 35px;
    padding-right: 33px;
    padding-left:33px;
}

.ending__title{
    color: $dark-cyan;
    text-align: center;
    font-family: $poppins;
    font-weight:700;
    margin-top: 50px;
}
.ending{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.ending-card{
    display: flex;
    box-shadow: 3px 3px 15px 2px rgba(0,0,0,0.2);
    border-radius: 24px;
    flex-direction: column;
    align-items: center;
    width: 339px;
    height: 175px;
    margin-top: -100px;
    margin-left: 20px;
    margin-right: 20px;
    background-color:#fff;
}
.ending-button-text{
    font-family: $poppins;
    font-weight: 600;
    color: $pale-cyan;
    font-size:10px;
    align-self: center;
}

footer{
    display: flex;
    background-color: $dark-cyan;
    font-size: 18px;
    flex-wrap: nowrap;
    justify-content: flex-start;   
    flex-direction: column;
    font-family: $open-sans;
    color: white;
    font-weight: 400;
}
.logo-abajo{
    filter: brightness(0) invert(1);
    margin-top: 70px;
    margin-left: 25px;
    margin-bottom: 10px;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    padding-left: 30px;
}

li{
    margin-top: 25px;
}

li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer__elements{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 15px;
    padding-left: 30px;
}
.footer__elements__text{
    color: #fff;
    font-size:14px;
    font-family: $open-sans;
    margin-left: 15px;
    margin-top: -5px;
}

.socialNetworks{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    
}

i{
    margin-right: 10px;
    font-size:12px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    width:12px;
}

i:hover{
    color: $primary-color;
    cursor: pointer;
    border: 1px solid $primary-color;
}

.copy{
    color:#fff;
    display:flex;
    justify-content: center;
    font-family: $open-sans;
    font-size: 11px;
    margin-bottom: 25px;
}
@media(min-width:1200px){
    .btn-Try-It{
        width:180px;
        height: 40px;
    }

    .btn-Try-It:hover{
        cursor: pointer;
    }

    .btn-Try-It-text:hover{
        color:rgb(206, 206, 206);
        cursor: pointer;
    }

    .logo-arriba{
        height: 25px;
    }
    .logo-bttn{
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;
        
    }
    .introduction{
        flex-direction: row;
        justify-content: flex-start;
    }
    .introduction-img{
        height: 450px;
        margin-right: 60px;
    }
    .introductiondiv{
        align-items: flex-start;
    }
    body{
        background-image: url("/images/bg-hero-desktop.svg");
    }
    .introduction__paragraph{
        text-align:start;
        margin-left: 60px;
        padding-right: 80px;
        padding-left: 0px;
    }
    .introduction__title{
        text-align: start;
        margin-left: 60px;
    }
    .introduction__button_container{
        justify-content:flex-start;
        margin-left: 60px;
    }

    .introduction__button{
        width: 250px;
        font-size: 12px;
    }

    .advantages{
        height: 1590px;
    }
    .card{
        width: 1100px;
        flex-direction:row-reverse;
        justify-content: space-between;
    }
    .card-text{
        margin-left: 100px;
        padding-left:0px;
        padding-right: 310px;
        text-align: start;
    }
    .card-text-2{
        padding-right: 80px;
    }
    .card-img{
        height: 270px;
        width: 330px;
        margin-right: 30px;
        margin-left: -50px;
    }
    .card-img-2{
        order:1;
        margin-left:80px;
        margin-right:120px;
    }
    .card-title{
        margin-left: 100px;
        text-align: start;
        font-weight: 600;
    }
    .ending-card{
        width: 750px;
        height: 220px;
    }

    .ending__button{
        height:55px;
        
    }

    .ending-button-text{
        font-size:14px;
    }
    
    .ending__title{
        font-size: 30px;
    }

    .copy{
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 60px;
    }

    .footer-rows{
        display:flex;
        flex-direction: row;
        margin-left: 10px;
        margin-right:10px;
        align-items: center;
        justify-content: space-around;
    }
    
    .links-rows{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left:-700px;
    }
    .first-ul{
        margin-right: 100px;
        margin-left: -100px;
    }
    ul{
        padding-left:0px;
    }
    li{
        font-size: 14px;
    }
    .socialNetworks{
        margin-left:-300px;
    }

    .footer__elements__text{
        width: 35%;
    }

    .logo-abajo-div{
        width: auto;
    }



}
